body{
    margin: 5%;
}
h1{
      font-size: 30px;
    color: rebeccapurple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
    text-decoration: none;
 background-color: rebeccapurple;
 color: white;
 border-radius: 5%;
 padding: 10px 20px;
}
.width{
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    width: 40%;
}
.width img{
 width: 88%;
}
.first-background{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 550px;
}
.seccond-background{
    background-image: url(images/biography-bg.png);
}
#center{
    font-size: 40px;
    text-align: center;
}
.work img{
    width: 30%;
    margin-left: 3%;
}
.last p{
    text-align: center;
}
#client{
    font-size: 40px;
    padding-bottom: 30px;
}
#bruce{
    font-size: 25px;
    padding-bottom: 10px;
}
#lorem{
    font-size: 25px;
    padding-bottom: 30px;
}
.box{
    border: 2px solid rgb(69, 38, 207);
    width: 50%;
    text-align: center;
     margin: 0 auto;
    padding: 40px 0px;
    background-color: rgb(53, 43, 199);
    color: white;
    border-radius: 10px;
}
.seccond-button{
     text-decoration: none;
     color: white;
     font-size: 30px;
}
.third-background{
    background-image: url(images/footer-bg.png);
    background-size: o auto;
    background-repeat: repeat;
}
footer p{
    text-align: center;

}