body{
    margin: 5%;
}
h1{
      font-size: 30px;
    color: rebeccapurple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
    text-decoration: none;
 background-color: rebeccapurple;
 color: white;
 border-radius: 5%;
 padding: 10px 20px;
}
.width{
    float: left;
    margin-left: 8%;
    padding-left: 2%;
    width: 40%;
}
.width img{
 width: 60%;
}
.first-background{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 350px;
}
.seccond-background{
    background-image: url(images/biography-bg.png);
}
#center{
    font-size: 40px;
    text-align: center;
}
.work img{
    width: 30%;
    margin-left: 3%;
}
.last p{
    font-size: 30px;
    text-align: center;
}
#client{
    font-size: 40px;
}
#bruce{
    font-size: 25px;
}
#lorem{
    font-size: 25px;
}
